In [2]:
# Loading in the basics
import psycopg2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow import keras
from config import password
import seaborn as sns
pd.options.display.float_format = "{:,.2f}".format

In [3]:
census_data = pd.read_csv("resources/final_census_data.csv")
zillow_ca_city_df = pd.read_csv("resources/ca_city_annual.csv")
zillow_ca_city_df.head()

,year,region_name,list_price,sale_price,list_divided_by_sale,list_minus_sale
0,2017,"Bakersfield, CA","261,989.56","230,264.11",87.90,"31,725.44"
1,2017,"Fresno, CA","340,529.22","268,083.33",78.73,"72,445.89"
2,2017,"Los Angeles-Long Beach-Anaheim, CA","816,180.89","616,639.11",75.55,"199,541.78"
3,2017,"Riverside, CA","389,225.11","350,541.67",90.06,"38,683.44"
4,2017,"Sacramento, CA","467,075.00","391,028.00",83.72,"76,047.00"

In [4]:
ca_census_df = census_data.loc[(census_data["state"] == "California") & (census_data["date"] >= "2017-01-01") & (census_data["date"] <= "2021-12-31")]
# df_2017 = zillow_final_data_df.loc[(zillow_final_data_df["date"] >= "2017-01-01") & (zillow_final_data_df["date"] <= "2017-12-31")]
ca_census_df.tail()

,city,state,sum_level,date,population
818075,Balance of Yolo County,California,County place part,2020-07-01,29337
818076,Yuba County,California,County,2020-07-01,80160
818077,Marysville city,California,County place part,2020-07-01,12594
818078,Wheatland city,California,County place part,2020-07-01,3666
818079,Balance of Yuba County,California,County place part,2020-07-01,63900

In [5]:
ca_census_df["date"] = ca_census_df['date'].astype(str).str.extract('(\d{4})').astype(int)
ca_census_df

D:\anaconda\envs\ml_\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,city,state,sum_level,date,population
572758,California,California,State,2017,39337785
572759,Adelanto city,California,Incorporated place,2017,34309
572760,Agoura Hills city,California,Incorporated place,2017,20471
572761,Alameda city,California,Incorporated place,2017,80178
572762,Albany city,California,Incorporated place,2017,20168
...,...,...,...,...,...
818075,Balance of Yolo County,California,County place part,2020,29337
818076,Yuba County,California,County,2020,80160
818077,Marysville city,California,County place part,2020,12594
818078,Wheatland city,California,County place part,2020,3666
818079,Balance of Yuba County,California,County place part,2020,63900

In [6]:
zillow_ca_city_df["region_name"] = zillow_ca_city_df["region_name"].str.rstrip(", CA").replace("Los Angeles-Long Beach-Anaheim", "Los Angeles")
zillow_ca_city_df

,year,region_name,list_price,sale_price,list_divided_by_sale,list_minus_sale
0,2017,Bakersfield,"261,989.56","230,264.11",87.90,"31,725.44"
1,2017,Fresno,"340,529.22","268,083.33",78.73,"72,445.89"
2,2017,Los Angeles,"816,180.89","616,639.11",75.55,"199,541.78"
3,2017,Riverside,"389,225.11","350,541.67",90.06,"38,683.44"
4,2017,Sacramento,"467,075.00","391,028.00",83.72,"76,047.00"
5,2017,San Diego,"727,886.44","553,173.89",76.00,"174,712.56"
6,2017,San Francisco,"837,240.67","778,667.00",93.02,"58,573.67"
7,2017,San Jose,"1,093,434.67","992,319.67",90.77,"101,115.00"
8,2017,Stockton,"407,033.89","368,779.22",90.60,"38,254.67"
9,2017,Ventura,"771,527.44","592,111.44",76.75,"179,416.00"
10,2018,Bakersfield,"270,267.50","233,165.48",86.33,"37,102.02"
11,2018,Fresno,"341,919.73","271,419.62",79.40,"70,500.12"
12,2018,Los Angeles,"828,877.27","639,272.94",77.23,"189,604.33"
13,2018,Riverside,"401,539.48","367,221.54",91.46,"34,317.94"
14,2018,Sacramento,"481,612.42","402,805.42",83.69,"78,807.00"
15,2018,San Diego,"746,044.13","577,809.27",77.59,"168,234.87"
16,2018,San Francisco,"886,341.98","805,574.33",90.98,"80,767.65"
17,2018,San Jose,"1,193,535.15","1,088,362.31",91.32,"105,172.85"
18,2018,Stockton,"414,231.52","383,504.13",92.61,"30,727.38"
19,2018,Ventura,"732,073.04","595,329.10",81.58,"136,743.94"
20,2019,Bakersfield,"268,875.85","245,443.65",91.32,"23,432.19"
21,2019,Fresno,"354,568.56","284,360.94",80.32,"70,207.62"
22,2019,Los Angeles,"837,043.87","651,711.29",77.96,"185,332.58"
23,2019,Riverside,"413,119.48","375,859.08",91.00,"37,260.40"
24,2019,Sacramento,"508,991.13","416,843.29",81.93,"92,147.85"
25,2019,San Diego,"757,258.23","586,204.54",77.47,"171,053.69"
26,2019,San Francisco,"892,768.79","809,402.38",90.69,"83,366.40"
27,2019,San Jose,"1,133,969.73","1,038,226.12",91.57,"95,743.62"
28,2019,Stockton,"449,113.92","399,785.00",89.35,"49,328.92"
29,2019,Ventura,"731,901.17","593,860.25",81.27,"138,040.92"
30,2020,Bakersfield,"286,647.56","263,778.96",92.09,"22,868.60"
31,2020,Fresno,"383,389.67","303,752.04",79.26,"79,637.63"
32,2020,Los Angeles,"945,189.42","699,871.15",74.07,"245,318.27"
33,2020,Riverside,"450,547.96","405,667.46",90.15,"44,880.50"
34,2020,Sacramento,"554,701.50","448,962.90",80.96,"105,738.60"
35,2020,San Diego,"825,143.00","626,003.69",75.91,"199,139.31"
36,2020,San Francisco,"976,343.69","852,390.19",87.33,"123,953.50"
37,2020,San Jose,"1,243,540.40","1,107,973.56",89.13,"135,566.85"
38,2020,Stockton,"486,582.69","426,129.85",87.71,"60,452.85"
39,2020,Ventura,"821,456.62","641,743.98",78.11,"179,712.63"
40,2021,Bakersfield,"291,413.33","283,461.29",97.29,"7,952.05"
41,2021,Fresno,"400,479.29","326,071.62",81.45,"74,407.67"
42,2021,Los Angeles,"1,007,162.48","766,041.86",76.05,"241,120.62"
43,2021,Riverside,"504,619.52","455,345.43",90.23,"49,274.10"
44,2021,Sacramento,"604,353.48","492,824.62",81.58,"111,528.86"
45,2021,San Diego,"853,169.24","692,153.24",81.12,"161,016.00"
46,2021,San Francisco,"987,248.81","946,471.62",95.84,"40,777.19"
47,2021,San Jose,"1,255,840.33","1,216,654.95",96.84,"39,185.38"
48,2021,Stockton,"482,160.62","450,416.76",93.43,"31,743.86"
49,2021,Ventura,"865,272.00","669,500.00",77.37,"195,772.00"

In [7]:
ca_census_df["city"].value_counts()

Sonoma city                 8
Solana Beach city           8
San Clemente city           8
Rancho Mirage city          8
Aliso Viejo city            8
                           ..
Santa Cruz County           4
Balance of Lake County      4
Balance of Plumas County    4
Balance of Kings County     4
San Joaquin County          4
Name: city, Length: 595, dtype: int64

In [8]:
# us_df = us_list.merge(us_sale, on = ["region_name","date"], how = "right")
ca_census_df = ca_census_df.rename(columns = {"city":"region_name", "date":"year"})
ca_census_df["region_name"] = ca_census_df["region_name"].str.rstrip(" city")
ca_census_df = ca_census_df.loc[ca_census_df["region_name"].isin(["Bakersfield", "Fresno", "Los Angeles", "Riverside", "Sacramento", "San Diego", "San Francisco", "San Jose", "Stockton", "Ventura"])]
ca_census_df = ca_census_df.drop(columns = ["sum_level", "state"])
ca_census_df

          region_name  year  population
572785    Bakersfield  2017      377170
572910         Fresno  2017      523938
572999    Los Angeles  2017     3975067
573110      Riverside  2017      326067
573118     Sacramento  2017      498386
...               ...   ...         ...
817858     Sacramento  2020      512838
817904      San Diego  2020     1422420
817911  San Francisco  2020      866606
817918       Stockton  2020      312716
817974       San Jose  2020     1013616

[72 rows x 3 columns]

In [9]:
df = zillow_ca_city_df.merge(ca_census_df, on = ["region_name", "year"], how = "right")
df = df.drop_duplicates()
df

,year,region_name,list_price,sale_price,list_divided_by_sale,list_minus_sale,population
0,2017,Bakersfield,"261,989.56","230,264.11",87.90,"31,725.44",377170
2,2017,Fresno,"340,529.22","268,083.33",78.73,"72,445.89",523938
4,2017,Los Angeles,"816,180.89","616,639.11",75.55,"199,541.78",3975067
6,2017,Riverside,"389,225.11","350,541.67",90.06,"38,683.44",326067
8,2017,Sacramento,"467,075.00","391,028.00",83.72,"76,047.00",498386
10,2017,San Diego,"727,886.44","553,173.89",76.00,"174,712.56",1409982
12,2017,San Francisco,"837,240.67","778,667.00",93.02,"58,573.67",877471
14,2017,San Jose,"1,093,434.67","992,319.67",90.77,"101,115.00",1037082
16,2017,Stockton,"407,033.89","368,779.22",90.60,"38,254.67",310459
18,2018,Bakersfield,"270,267.50","233,165.48",86.33,"37,102.02",379915
20,2018,Fresno,"341,919.73","271,419.62",79.40,"70,500.12",526621
22,2018,Los Angeles,"828,877.27","639,272.94",77.23,"189,604.33",3981140
24,2018,Riverside,"401,539.48","367,221.54",91.46,"34,317.94",328306
26,2018,Sacramento,"481,612.42","402,805.42",83.69,"78,807.00",504185
28,2018,San Diego,"746,044.13","577,809.27",77.59,"168,234.87",1420070
30,2018,San Francisco,"886,341.98","805,574.33",90.98,"80,767.65",879676
32,2018,San Jose,"1,193,535.15","1,088,362.31",91.32,"105,172.85",1034877
34,2018,Stockton,"414,231.52","383,504.13",92.61,"30,727.38",311731
36,2019,Bakersfield,"268,875.85","245,443.65",91.32,"23,432.19",382682
38,2019,Fresno,"354,568.56","284,360.94",80.32,"70,207.62",529373
40,2019,Los Angeles,"837,043.87","651,711.29",77.96,"185,332.58",3982885
42,2019,Riverside,"413,119.48","375,859.08",91.00,"37,260.40",329785
44,2019,Sacramento,"508,991.13","416,843.29",81.93,"92,147.85",509748
46,2019,San Diego,"757,258.23","586,204.54",77.47,"171,053.69",1420200
48,2019,San Francisco,"892,768.79","809,402.38",90.69,"83,366.40",878826
50,2019,San Jose,"1,133,969.73","1,038,226.12",91.57,"95,743.62",1026528
52,2019,Stockton,"449,113.92","399,785.00",89.35,"49,328.92",313091
54,2020,Bakersfield,"286,647.56","263,778.96",92.09,"22,868.60",385725
56,2020,Fresno,"383,389.67","303,752.04",79.26,"79,637.63",530267
58,2020,Los Angeles,"945,189.42","699,871.15",74.07,"245,318.27",3970219
60,2020,Riverside,"450,547.96","405,667.46",90.15,"44,880.50",330786
62,2020,Sacramento,"554,701.50","448,962.90",80.96,"105,738.60",512838
64,2020,San Diego,"825,143.00","626,003.69",75.91,"199,139.31",1422420
66,2020,San Francisco,"976,343.69","852,390.19",87.33,"123,953.50",866606
68,2020,San Jose,"1,243,540.40","1,107,973.56",89.13,"135,566.85",1013616
70,2020,Stockton,"486,582.69","426,129.85",87.71,"60,452.85",312716

In [1]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout, Flatten,LSTM,RepeatVector,TimeDistributed,Conv1D,MaxPooling1D
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam
from livelossplot.tf_keras import PlotLossesCallback
from statsmodels.tsa.seasonal import seasonal_decompose

In [11]:
X = df.drop(["sale_price","region_name"], 1).values
y = df["sale_price"]

X_train,X_test, y_train, y_test = train_test_split(X, y, random_state = 42)
scaler = StandardScaler()
X_scaler = scaler.fit(X_train, X_test, y_train, y_test)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

TypeError: fit() takes from 2 to 4 positional arguments but 5 were given

In [ ]:
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 28
hidden_nodes_layer2 = 21
hidden_nodes_layer3 = 14

nn = tf.keras.models.Sequential()

# Hidden layers
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "swish"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="swish"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])


cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=2,
    save_weights_only=True,
    save_freq='epoch')

In [ ]:
fit_model = nn.fit(X_train_scaled, y_train,batch_size = 50, epochs=10, callbacks=[cp_callback])

In [ ]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")